body {
    background-image: url('https://img.freepik.com/free-photo/blank-checked-paper-notes-grey_114579-28801.jpg?size=626&ext=jpg&ga=GA1.1.368269146.1695010732&semt=ais');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
